.grid-col-10-12{
	display: grid;
	grid-template-columns: 10% repeat(12, 1fr) 10%;
	
}
.grid-col-16{
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	
}
.grid-rows-3{
	grid-template-rows:   1.6fr 1fr 1.6fr;
}

