.grid-col-10-12{
	display: grid;
	grid-template-columns: 5% repeat(12, 1fr) 5%;
	
}
.gap-25{
		grid-gap: 25px;
}
.grid-col-16{
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	
}
.grid-rows-2{
	display: grid;
	grid-template-rows:    1fr 8vh;
	grid-row-gap: 0;
}
.grid-rows-5{
	display: grid;
	grid-template-rows:   repeat(5, 1fr);
	grid-row-gap: 0;
}


