.miskrada{
	background: url('../img/main.jpg');
	background-size: cover;
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	div{
		a{
			font-family: roboto;
			font-weight: 100;
			font-size: 5vh;
			color:#fff;
			margin:1vh;
		}		
	}
}
.fm{
	margin:0;
}