.last-news{
	margin: 2vh 0 1vh 0;
}
.ls1-cover{
	background: url('../img/news-remont.jpg');
	max-width: 450px;
}
.big-last-news{
	grid-column: 4/9;
	a{
		text-decoration: none;	
	}
	.ls-1{
		
		background: rgba(10, 20, 50, 0.6);
		
		height: calc(36vh + 0.5em);
		margin:0.5em 0;

		
		text-align: center;
			
		div{
			padding-top: 3em;
			h1{
				color:#fff;
				font-family: roboto;
				font-weight: 100;
				font-size: 2em;
				transition: color 0.2s linear;
			}
			
		}
		div:hover{
			h1{
			color:#f4940b;
			}
		
		}		
	
	}
	
}
.small-last-news{
	grid-column: 9/12;
	a{
		text-decoration:none;
	}

	.ls-2{

		margin:0.5em 0;
		height: 18vh;
		background: rgba(10, 20, 30, 0.7);
		color:#fff;
		text-align: center;
		div{
			padding-top: 1em;
			h2{				
				color:#fff;
				font-size: 1.2em;
				font-family: roboto;
				font-weight: 100;
				transition: color 0.2s linear;
			}
			
		}
		div:hover{
			h2{
			color:#f4940b;
			}
		
		}
	}


}
.ls-2-1-cover{
	background: url('../img/event-1.jpg');
	background-size: cover; 
}
.ls-2-2-cover{
	background: url('../img/event-5.jpg');
	background-size: cover; 
}
.news-container{
	margin-top: 2em;
	grid-column: 5/11;
	img{
		margin: 1em 0;
	}
}
.news-text{
	a{
		text-decoration: none;
		transition: color 0.2s linear;
	}
	a:visited{
		color: #333;
	}
	a:hover{
		color:#f4940b;
	}
	p, h2 {
		font-family: roboto;
	}
	p{
		margin-top: 1em;
		line-height: 1.5em;
		letter-spacing: 0.1em;
	}
}
.news-pagination{
	grid-column:4/12;
	display:flex;
	justify-content:center;
	font-family: roboto;
	div{
		background:#f6f6f6;
		padding: 0.5em 2em;
		margin:2em 0.25em;
		border-radius: 2px;
	}
	ul{
		display: flex;
		list-style-type: none;

		li{
			background:#f6f6f6;
			padding: 0.5em 1em;
			margin:2em 0.25em;
			border-radius: 2px;
		}
		
	}
}
.current-news-title, {
	grid-column: 4/12;
	display: flex;
}
.current-news-text{
	grid-column: 4/12;
	p{
		margin: 	1em;
	}
		
}
.current-news-title{
	justify-content: center;
}