.last-news{
	margin: 2vh 0 1vh 0;
}
// // .ls1-cover{
// // 	// background: url('../img/l-1.jpg');
// // 	max-width: 450px;
// }
.big-last-news{
	grid-column: 4/9;
	a{
		text-decoration: none;	
	}
	.ls-1{
		overflow:hidden;
		position: relative;
		height: calc(36vh + 0.5em);
		margin:0.5em 0;
		text-align: center;
		.big-last-news-image, .big-last-news-shadow{
			width: 100%;
			height: 100%;
			position:absolute;
			top:0;
			left:0;
		}				
		div{
			// padding-top: 3em;
			h1{
				color:#fff;
				font-family: roboto;
				font-weight: 100;
				font-size: 2em;
				transition: color 0.2s linear;
				margin:0.25em;
			}
			
		}
		div:hover{
			h1{
			color:#f4940b;
			}
		
		}		
	
	}
	
}
.small-last-news{
	grid-column: 9/12;
	a{
		text-decoration:none;
	}

	.ls-2{
		position:relative;
		margin:0.5em 0;
		height: 18vh;
		// background: rgba(10, 20, 30, 0.7);
		color:#fff;
		text-align: center;
		.small-last-news-image, .small-last-news-shadow{
			width: 100%;
			height: 100%;
			position:absolute;
			top:0;
			left:0;
			overflow: hidden;
		}
		.small-last-news-shadow{
			// padding-top:1em;
			text-align: center;
			background:rgba(20,20,30,0.7);
			h3{
				color: #fff;
				font-weight: 100;
				font-size: 2em;
				margin: 2em 1em;
				transition: color 0.3s linear, background 0.3s linear;
			}
		}
		div{
			
			h2{				
				color:#fff;
				font-size: 1.2em;
				font-family: roboto;
				font-weight: 100;
				transition: color 0.2s linear;
				margin: 0.5em 0.25em;
			}
			
		}
		div:hover{
			h2{
			color:#f4940b;
			}
		
		}
	}


}
.ls-2-1-cover{
	// background: url('../img/event-1.jpg');
	position: relative;
}
.ls-2-2-cover{
	position: relative;
	background: url('../img/event-5.jpg');
	background-size: cover; 
}
.news-container{
	margin-top: 2em;
	grid-column: 6/11;
	img{
		margin: 1em 0;
	}
}
.news-text{
	position:relative;
	a{
		text-decoration: none;
		transition: color 0.2s linear;
	}
	a:visited{
		color: #000;
	}
	a:hover{
		text-decoration: underline;
		color:#228;
	}
	h2{
		font-weight: 100;
	}
	p, h2 {
		font-family: roboto;
	}
	p{
		line-height: 1.5em;
		letter-spacing: 0.1em;
	}
}
.news-date{
	position:absolute;
	left:-8em;
	font-weight: 500;
}
.news-pagination{
	grid-column:4/12;
	display:flex;
	justify-content:center;
	font-family: roboto;
	div{
		background:#f6f6f6;
		padding: 0.5em 2em;
		margin:2em 0.25em;
		border-radius: 2px;
	}
	ul{
		display: flex;
		list-style-type: none;

		li{
			background:#f6f6f6;
			padding: 0.5em 1em;
			margin:2em 0.25em;
			border-radius: 2px;
		}
		
	}
}
.current-news{
	
}
.current-news-text{
	grid-column: 4/12;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1{
		margin: 0 3.5em;
	}
	// grid-column: 4/12;
	p{
		margin: 	1em 2em;
		line-height: 1.5em;
	}
		
}
.current-news-title{
	justify-content: center;
}