.people{
	padding:4vh 0;
	background: #333;
}
.people-main-cover{
	
}
.people-description{
	background:#fff;
	margin: 2em 0;
	border-radius: 0 1em 1em 0;
	display:flex;
	flex-direction:column;
	align-items:center;
	width: 20vw;
	padding:3em;
	h2{
		color:#0062d7;
		font-weight: 300;
	}
	p{
		margin:1em 0;
		line-height: 1.5em;
	}
}
.people-photo{
	grid-column:2/14;
	display:flex;
	img{
		margin:1em 0.5em;
	}
}
.people-text{
	grid-column:5/11;
}