section{
	font-family: roboto;
}
.posters{
	background: #333;
}
.breadcrumbs-poster{
	
	font-family: roboto;
	grid-column: 4/12;
	ul{
		margin: 1em auto;
		display:flex;
		justify-content:center;
		align-items:center;
		list-style-type: none;
		li{
			margin: 0 0.5em;
			a{
				color:#aaa;
				font-size: 0.8em;
			}
		}
	}
	
}
.posters-wrap{
	grid-column: 2/14;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.poster-container{
	width:300px;
	height:400px;
	border: #000 1px solid;
	border-radius: 1em;
	margin:1.5em; 
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transition:  border-color 0.2s linear, background 0.2s linear;
	background:#dee;
	a{
			text-decoration: none;
	}
	p{
		margin:1em 0;
		color: #333;
	}
	div{
		padding-top: 0.6em;
		img{
			border-radius: 0.5em; 			
		}
		
	}
}
.poster-container:hover{
	border-color: red;
	background: #fff;
}
.poster-image{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 2em 0;
	img{
		border-radius: 1em 0 0 1em;
	}
	

}
.poster-text{
	background:#fff;
	margin: 2em 0;
	border-radius: 0 1em 1em 0;
}



















// .posters-title{
// 	grid-column: 5/11;
// 	margin-top: 2em;
// }
// .posters-image{
// 	grid-column: 4/6;	
// }
// .posters-date{
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	grid-column: 6/12;
// 	table{
// 		td{
// 			padding: 0 2em 0.25em 0;
// 			font-size: 0.9em;

// 		}
// 	}	
// }
// .posters-text{
// 	grid-column: 4/12;
// 	p{
		
// 		line-height: 1.5em;
// 		letter-spacing: 0.1em;
// 	}

// }