.image-cover{
	background:#333;
}
.footer-streets{
	margin:0;
}
.streets-images{
	grid-column: 1/9;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	div{
		margin:0.5em;
	}
}
.streets-title{
	grid-column: 5/11;
	text-align: center;
	h2{
		font-family: roboto;
		font-weight: 100;
		font-size: 3em;
		color: #fff;
		margin: 1em 0;

	}
}
.street-text{
	grid-column: 9/14;
	p{
		font-family: roboto;
		font-weight: 100;
		font-size: 1.5em;
		line-height: 1.5em;
		color: #fff;
		margin: 1em 0;
	}
}