@import "layout.scss";
@import "news.scss";
@import "poster.scss";
@import "people.scss";
@import "miskrada.scss";
@import "streets.scss";
@import "../img/fonts/roboto/roboto.css";
@import "media.scss";
*{
	margin:0;
	padding:0;
}
.hide{
	display:none;
}
.header-index{
	background: url('../img/back-header.jpg');
	background-size: cover;
	height: 512px;
}

.burg-menu{
	grid-column: 11/12;
	grid-rows: 1/2;
	img {
		margin-top:4em;
	}
	display:none;
}
.nav-desktop-container{
	font-family: railwayBold;
	background: rgba(0, 0, 0, 0.6);
	height: 8vh;
	justify-content:center;
	ul{
		li{
			display: inline-block;
			a{
				padding: 0.25em 1em;
				// text-decoration: none;
				color: white;	
				font-size: 1.2em;
				transition: color 0.3s linear;
			}
			a:hover{
				color:#2e52d3;

			}
		}	
	}
	nav{
		grid-column: 3/13;
		display: flex;
		align-items:center;
		justify-content:space-around;
		a{
			font-family: roboto;
		}
		// margin-left: 3em;
	}

	
		
	.radio{
		grid-column: 13/14;
		display: flex;
		align-items:center;
	}		
}
.slogan{
	width: 100%;
	height: 125px;
	background: rgba(75,75,75, 0.8);
	display:flex;
	justify-content: center;
	align-items: center;

	h1{
		font-family: roboto;
		color:#fff;
	}
	margin-top: 130px;
}
.breadcrumbs{
	font-family: roboto;
	grid-column: 4/12;
	ul{
		margin: 1em auto;
		display:flex;
		justify-content:center;
		align-items:center;
		list-style-type: none;
		li{
			margin: 0 0.5em;
			a{
				// text-decoration: none;
				color:#333;
				font-size: 0.8em;
			}
		}
	}
}
// burger-menu
.burg-wrap-start{
	position:absolute;
	width: 0;
	background: rgba(50,50,50, 0.8);
	top:0;
	transition: width 0.25s linear;

		li{
			font-size: 4em;
			font-family: roboto;
			color:#555;
			padding:1em 3em;
			border-bottom: 1px solid #bbb;
			a{
				color:#444;
				transition: color 0.5s linear;
			}
			
		}
}
.burger-wrap{
	position:absolute;
	width: 100vmin;
	background: rgba(50,50,50, 0.8);
	top:0;
	ul {
		list-style-type: none;
		li{
			font-size: 4em;
			font-family: roboto;
			
			padding:1em 3em;
			border-bottom: 1px solid #bbb;
			a{
				color:#fff;
				text-decoration: none;
			}

		}
		#burger-back{
			color:#ddd;
			text-align: center;
			padding: 1em 0;
		}
	}
}
// end burger-menu
.news-image{
	grid-column: 2/5;
	margin: 5vh 0 0 0;
	overflow: hidden;
	height: 200px;
}
.news-pre-text-container{
	grid-column: 5/11;
	margin: 5vh 0 0 0;
}
.news-pre-text{
	overflow: hidden;
	height: 170px;
	p, h2 {
		font-family: roboto;
	}
	p{
		margin-top: 1em;
		line-height: 1.5em;
		letter-spacing: 0.1em;
	}
}
.news-next{
	display:flex;
	align-items: center;
	height: 30px;
	a{
		text-decoration: none;
		font-size: 2em;
		color:#bbb;
		transition: color 0.3s linear;
	}
	a:visited{
		color:#aaa;
	}
	a:hover{
		color:#599e5e;
	}


		
}
.right{
	grid-column: 11/14;
	grid-row: 1/6;
	display:flex;
	flex-direction: column;
	align-items: flex-end; 
	div{
		margin-top:5vh;
		input{
			border:none;
			border-bottom: #555 1px solid;
			padding:0.2em;
			font-family: roboto;

		}
	}

}
.pagination{
	grid-column:4/12;
	display:flex;
	justify-content:center;
	font-family: roboto;
	div{
		background:#f6f6f6;
		padding: 0.5em 2em;
		margin:2em 0.25em;
		border-radius: 2px;
	}
	ul{
		display: flex;
		list-style-type: none;

		li{
			background:#f6f6f6;
			padding: 0.5em 1em;
			margin:2em 0.25em;
			border-radius: 2px;
		}
		
	}
}
footer{
	font-family: roboto;
	background:#f6f6f6;
	padding:2em 0;
	margin-top:6vh;

}
.emblem-hust, .emblem-oblrada{

	grid-column: 2/3;
	display:flex;
	justify-content: start;
	align-items:center;	
	img{
		
		margin:  0 1em;
	}
	p{
		color:#000;
		font-family: roboto;
	}
}
// .nav-footer-1{
// 	grid-column:3/6;
// }
// .nav-footer-2{
// 	grid-column:6/9;
// }
.nav-footer-1, .nav-footer-2{
	ul{
		margin-left:2em;
		list-style-type: none;
		li{
			margin-bottom:0.5em;
			
			a{
				color:#000;
				text-decoration: none;
				font-size: 0.8em;

			}
		}
	}
}
.nav-footer-2{
	ul{
		margin-left:0;
	}

}
.contacts{
	grid-column: 11/14;

	div{
		display: flex;
		align-items: center;
		margin:1em 0;
		span{
			margin: 0 1em;
			font-size: 1.25em;
		}

	}

}
