@import "layout.scss";

@import "../img/fonts/roboto/roboto.css";
@import "media.scss";
*{
	margin:0;
	padding:0;
}
.hide{
	display:none;
}
header{
	background: url('../img/back-header.jpg');
	background-size: cover;
	height: 512px;
}

.burg-menu{
	grid-column: 11/12;
	grid-rows: 1/2;
	img {
		margin-top:4em;
	}
	display:none;
}
.nav-desktop-container{
	font-family: railwayBold;
	background: rgba(0, 0, 0, 0.7);
	height: 12vh;
	justify-content:center;
	ul{
		li{
			display: inline-block;
			a{
				padding: 0.25em 1em;
				// text-decoration: none;
				color: white;	
				font-size: 1.2em;
				transition: color 0.3s linear;
			}
			a:hover{
				color:#2e52d3;

			}
		}	
	}
	nav{
		grid-column: 3/13;
		display: flex;
		align-items:center;
		justify-content:space-around;
		a{
			font-family: roboto;
		}
		// margin-left: 3em;
	}
	.emblem-hust{
		grid-column: 2/3;
	}
	
		
	.radio{
		grid-column: 13/14;
		display: flex;
		align-items:center;
	}		
}

.emblem-hust, .emblem-oblrada{
	display:flex;
	justify-content: start;
	align-items:center;	

	img{
		
		margin:  0 1em;
	}
	p{
		color:#fff;
		font-family: roboto;
	}
}

// burger-menu
.burg-wrap-start{
	position:absolute;
	width: 0;
	background: rgba(50,50,50, 0.8);
	top:0;
	transition: width 0.25s linear;

		li{
			font-size: 4em;
			font-family: roboto;
			color:#555;
			padding:1em 3em;
			border-bottom: 1px solid #bbb;
			a{
				color:#444;
				transition: color 0.5s linear;
			}
			
		}
}
.burger-wrap{
	position:absolute;
	width: 100vmin;
	background: rgba(50,50,50, 0.8);
	top:0;
	ul {
		list-style-type: none;
		li{
			font-size: 4em;
			font-family: roboto;
			
			padding:1em 3em;
			border-bottom: 1px solid #bbb;
			a{
				color:#fff;
				text-decoration: none;
			}

		}
		#burger-back{
			color:#ddd;
			text-align: center;
			padding: 1em 0;
		}
	}
}
// end burger-menu
.news{
	height: 245px;
}
.news-image{
	grid-column: 2/5;
	grid-row: 1/3;
	margin: 5vh 5vh 0 0;
}
.news-pre{
	overflow: hidden;
	
	grid-column: 5/12;
	grid-row: 1/2;
	
	margin: 5vh 5vh 0 0;

	p, h2 {
		font-family: roboto;
	}
	p{
		margin-top: 1em;
		line-height: 1.5em;
		letter-spacing: 0.1em;

	}
}
.news-next{
	grid-column: 5/12;
	grid-row: 2/3;
	display:flex;
	align-items: center;
		
}