@import "layout.scss";
@import "news.scss";
@import "poster.scss";
@import "people.scss";
@import "miskrada.scss";
@import "streets.scss";
@import "../img/fonts/roboto/roboto.css";
@import "media.scss";
*{
	margin:0;
	padding:0;
}
.hide{
	display:none;
}
header{
	background: url('../img/back-header.jpg');
	background-size: 100% 100%;
}


.emblem-khust{
	grid-column:1/3;
	grid-row:1/2;
	flex-direction:column;
	display: flex;
	align-items:center;
	justify-content:flex-start;
	margin:1em 0;
	p{
		margin:0.2em 0;
		text-align: center;
		font-family: roboto;
		color:white;
	}
}
.header-right{
	grid-column:10/15;
	grid-row:1/2;
	display: flex;
	align-items:flex-start;
	justify-content: flex-end;

}
.weather-informer{
	margin:1em 0.5em;
	
}
.wi-inner{
	padding: 0.75em 2.5em;
	background:rgba(20,20,30,0.2);
}
.radio{
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	margin:1em 1em 0 0.5em;
}
#play-stop{
	// margin: 0.em 0;
	img{
		margin-top:0.75em;
	}
}
#play-stop:hover{
	cursor: pointer;
}
nav{
		grid-column: 2/14;
		grid-row: 2/3;
		display: flex;
		align-items:center;
		justify-content:space-around;
		background: rgba(0, 0, 0, 0.4);
		justify-content:center;
	ul{
		li{
			display: inline-block;
			border-left: #555 1px solid;
			padding:0.75em 0;
			// margin:0 -2px;
			transition: background 0.3s linear;
			a{
				padding: 0.25em 1em;
				color: white;	
				font-size: 1.2em;
				transition: color 0.3s linear;
			}
		}
		li:nth-child(1){
			border-left:none;
		}
		li:hover{
			background:rgba(20,20,30,0.8);
			a{
				color:#f4940b;
			}
		}	
	}
	a{
		font-family: roboto;
	}
}

.header-help{
	grid-column: 13/14;	
	grid-row: 2/3;
	position: relative;

}

.header-fb{
	grid-column: 14/15;	
	grid-row: 2/3;
	position: relative;
	div{
		width: 58px;
		height: 58px;
		background: url('../img/fb.png');
		position: absolute;
		top:1.75em;
		right: 1.4em;
		opacity: 0.3;	
		transition: opacity 0.3s linear;
	}
	div:hover{
		opacity: 0.9;
	};
}
.breadcrumbs{
	font-family: roboto;
	grid-column: 4/12;
	ul{
		margin: 1em auto;
		display:flex;
		justify-content:center;
		align-items:center;
		list-style-type: none;
		li{
			margin: 0 0.5em;
			a{
				color:#333;
				font-size: 0.8em;
			}
		}
	}
}

// burger-menu
.burg-menu{
	grid-column: 11/12;
	grid-rows: 1/2;
	img {
		margin-top:4em;
	}
	display:none;
}
.burg-wrap-start{
	position:absolute;
	width: 0;
	background: rgba(50,50,50, 0.8);
	top:0;
	transition: width 0.25s linear;

		li{
			font-size: 4em;
			font-family: roboto;
			color:#555;
			padding:1em 3em;
			border-bottom: 1px solid #bbb;
			a{
				color:#444;
				transition: color 0.5s linear;
			}
			
		}
}
.burger-wrap{
	position:absolute;
	width: 100vmin;
	background: rgba(50,50,50, 0.8);
	top:0;
	ul {
		list-style-type: none;
		li{
			font-size: 4em;
			font-family: roboto;
			
			padding:1em 3em;
			border-bottom: 1px solid #bbb;
			a{
				color:#fff;
				text-decoration: none;
			}
		}
		#burger-back{
			color:#ddd;
			text-align: center;
			padding: 1em 0;
		}
	}
}
// end burger-menu
.button-help{
	position:absolute;
	top:1.2em;
	right:1.75em;
	width: 80px;
	height: 80px;
	border-radius: 50%;

	background: rgba(220, 0, 0, 0.5);
	transition: background 0.25s linear;
	// border: #fff 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	p{
		font-family: roboto;
		color: #fff;
		letter-spacing: 0.025em;
		font-weight: 100;	
		font-size: 1.2em;
		font-weight: 900; 
	}	
	
}
.button-help:hover{
	background: rgba(10, 120, 80, 0.9);
}

		

.index-title{
	grid-column:1/15;
	height: 6em;
	text-align: center;
	// background:grey;

	h1{
		margin-top:0.5em;
		font-weight: 100;
		font-size: 2.5em;
		color: #000;
	}
}
.event-container{
	grid-column:2/14;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly; 
	font-family: roboto;

}
.event{
	width: 500px;
	margin:4vh 0.75vw;	

	.date{
		margin: 0 0 0.75em 0;
	}
	h3{
		margin: 0 0 0.75em 0;
	}
	transition: transform 0.3s linear;
}
.event:hover{
	cursor: pointer;
	transform:scale(1.01);

};

.event-title{
	height: 4em;
}
.event-image-wrap{
	width: 500px;
	height: 280px;
	position: relative;	

}
.event-image, .event-shadow{
	width: 100%;
	height: 100%;
	position:absolute;
	top:0;
	left:0;
}
.event-shadow{
	text-align: center;
	background:rgba(20,20,30,0.7);
	h3{
		color: #fff;
		font-weight: 100;
		font-size: 2em;
		margin: 2em 1em;
		transition: color 0.3s linear, background 0.3s linear;
	}
}
.event-shadow:hover{
	h3{
		color:#f4940b;
	}
	background: rgba(20,20,30,0.8);
	
}

.left-container{
	margin-top: 10vh;
	grid-column:1/4;
	padding-left:0.5em;

	.left{
		margin: 0  0 0 1em;
		p{

			font-size: 0.6	em;
			line-height: 1.5em;	
			letter-spacing: 0.075em;
		}
	}
}
.left-news-container{
	margin: 0 0 1em 0;
	.news-data{
		margin: 0.5em 0;
		p{
			font-size: 0.8em;
		}

	}

}
.left-news-text{
	p{
		font-size: 0.8em;

	}
			
}
.news-image{
	grid-column: 2/5;
	margin: 5vh 0 0 0;
	overflow: hidden;
	height: 200px;
}
.news-pre-text-container{
	grid-column: 5/11;
	margin: 5vh 0 0 0;
}
.news-pre-text{
	overflow: hidden;
	height: 170px;
	p, h2 {
		font-family: roboto;
	}
	p{
		margin-top: 1em;
		line-height: 1.5em;
		letter-spacing: 0.1em;
	}
}
.news-next{
	display:flex;
	align-items: center;
	height: 30px;
	a{
		text-decoration: none;
		font-size: 2em;
		color:#bbb;
		transition: color 0.3s linear;
	}
	a:visited{
		color:#aaa;
	}
	a:hover{
		color:#599e5e;
	}


		
}
.right{
	grid-column: 11/14;
	grid-row: 1/6;
	display:flex;
	flex-direction: column;
	align-items: flex-end; 
	div{
		margin-top:5vh;
		input{
			border:none;
			border-bottom: #555 1px solid;
			padding:0.2em;
			font-family: roboto;

		}
	}

}
.pagination{
	grid-column:4/12;
	display:flex;
	justify-content:center;
	font-family: roboto;
	div{
		background:#f6f6f6;
		padding: 0.5em 2em;
		margin:2em 0.25em;
		border-radius: 2px;
	}
	ul{
		display: flex;
		list-style-type: none;

		li{
			background:#f6f6f6;
			padding: 0.5em 1em;
			margin:2em 0.25em;
			border-radius: 2px;
		}
		
	}
}
footer{
	font-family: roboto;
	background:#f6f6f6;
	padding:2em 0;
	margin-top:6vh;

}
.emblem-hust, .emblem-oblrada{

	grid-column: 2/3;
	display:flex;
	justify-content: start;
	align-items:center;	
	img{
		
		margin:  0 1em;
	}
	p{
		color:#000;
		font-family: roboto;
	}
	a{
		text-decoration: none;
	}
}
.contacts{
	grid-column: 11/14;

	div{
		display: flex;
		align-items: center;
		margin:1em 0;
		span{
			margin: 0 1em;
			font-size: 1.25em;
		}

	}

}
