@import url(../img/fonts/roboto/roboto.css);
.grid-col-10-12 {
  display: grid;
  grid-template-columns: 5% repeat(12, 1fr) 5%;
  grid-gap: 25px; }

.grid-col-16 {
  display: grid;
  grid-template-columns: repeat(16, 1fr); }

.grid-rows-2 {
  display: grid;
  grid-template-rows: 80% 20%;
  grid-row-gap: 0; }

@media screen and (max-width: 992px) {
  .nav {
    display: none; }
  .burg-menu {
    display: block; } }

* {
  margin: 0;
  padding: 0; }

.hide {
  display: none; }

header {
  background: url("../img/back-header.jpg");
  background-size: cover;
  height: 512px; }

.burg-menu {
  grid-column: 11/12;
  grid-rows: 1/2;
  display: none; }
  .burg-menu img {
    margin-top: 4em; }

.nav-desktop-container {
  font-family: railwayBold;
  background: rgba(0, 0, 0, 0.7);
  height: 12vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .nav-desktop-container ul li {
    display: inline-block; }
    .nav-desktop-container ul li a {
      padding: 0.25em 1em;
      color: white;
      font-size: 1.2em;
      -webkit-transition: color 0.3s linear;
      transition: color 0.3s linear; }
    .nav-desktop-container ul li a:hover {
      color: #2e52d3; }
  .nav-desktop-container nav {
    grid-column: 3/13;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .nav-desktop-container nav a {
      font-family: roboto; }
  .nav-desktop-container .emblem-hust {
    grid-column: 2/3; }
  .nav-desktop-container .radio {
    grid-column: 13/14;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.emblem-hust, .emblem-oblrada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .emblem-hust img, .emblem-oblrada img {
    margin: 0 1em; }
  .emblem-hust p, .emblem-oblrada p {
    color: #fff;
    font-family: roboto; }

.burg-wrap-start {
  position: absolute;
  width: 0;
  background: rgba(50, 50, 50, 0.8);
  top: 0;
  -webkit-transition: width 0.25s linear;
  transition: width 0.25s linear; }
  .burg-wrap-start li {
    font-size: 4em;
    font-family: roboto;
    color: #555;
    padding: 1em 3em;
    border-bottom: 1px solid #bbb; }
    .burg-wrap-start li a {
      color: #444;
      -webkit-transition: color 0.5s linear;
      transition: color 0.5s linear; }

.burger-wrap {
  position: absolute;
  width: 100vmin;
  background: rgba(50, 50, 50, 0.8);
  top: 0; }
  .burger-wrap ul {
    list-style-type: none; }
    .burger-wrap ul li {
      font-size: 4em;
      font-family: roboto;
      padding: 1em 3em;
      border-bottom: 1px solid #bbb; }
      .burger-wrap ul li a {
        color: #fff;
        text-decoration: none; }
    .burger-wrap ul #burger-back {
      color: #ddd;
      text-align: center;
      padding: 1em 0; }

.news {
  height: 245px; }

.news-image {
  grid-column: 2/5;
  grid-row: 1/3;
  margin: 5vh 5vh 0 0; }

.news-pre {
  overflow: hidden;
  grid-column: 5/12;
  grid-row: 1/2;
  margin: 5vh 5vh 0 0; }
  .news-pre p, .news-pre h2 {
    font-family: roboto; }
  .news-pre p {
    margin-top: 1em;
    line-height: 1.5em;
    letter-spacing: 0.1em; }

.news-next {
  grid-column: 5/12;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
