@import url(../img/fonts/roboto/roboto.css);
.grid-col-10-12 {
  display: grid;
  grid-template-columns: 5% repeat(12, 1fr) 5%; }

.gap-25 {
  grid-gap: 25px; }

.grid-col-16 {
  display: grid;
  grid-template-columns: repeat(16, 1fr); }

.grid-rows-2 {
  display: grid;
  grid-template-rows: 1fr 8vh;
  grid-row-gap: 0; }

.grid-rows-5 {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 0; }

.last-news {
  margin: 2vh 0 1vh 0; }

.big-last-news {
  grid-column: 4/9; }
  .big-last-news a {
    text-decoration: none; }
  .big-last-news .ls-1 {
    overflow: hidden;
    position: relative;
    height: calc(36vh + 0.5em);
    margin: 0.5em 0;
    text-align: center; }
    .big-last-news .ls-1 .big-last-news-image, .big-last-news .ls-1 .big-last-news-shadow {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .big-last-news .ls-1 .big-last-news-shadow {
      background: rgba(10, 20, 30, 0.7); }
    .big-last-news .ls-1 div h1 {
      color: #fff;
      font-family: roboto;
      font-weight: 100;
      font-size: 2em;
      -webkit-transition: color 0.2s linear;
      transition: color 0.2s linear;
      margin: 0.25em; }
    .big-last-news .ls-1 div:hover h1 {
      color: #f4940b; }

.small-last-news {
  grid-column: 9/12; }
  .small-last-news a {
    text-decoration: none; }
  .small-last-news .ls-2 {
    position: relative;
    margin: 0.5em 0;
    height: 18vh;
    color: #fff;
    text-align: center; }
    .small-last-news .ls-2 .small-last-news-image, .small-last-news .ls-2 .small-last-news-shadow {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden; }
    .small-last-news .ls-2 .small-last-news-shadow {
      text-align: center;
      background: rgba(20, 20, 30, 0.7); }
      .small-last-news .ls-2 .small-last-news-shadow h3 {
        color: #fff;
        font-weight: 100;
        font-size: 2em;
        margin: 2em 1em;
        -webkit-transition: color 0.3s linear, background 0.3s linear;
        transition: color 0.3s linear, background 0.3s linear; }
    .small-last-news .ls-2 div h2 {
      color: #fff;
      font-size: 1.2em;
      font-family: roboto;
      font-weight: 100;
      -webkit-transition: color 0.2s linear;
      transition: color 0.2s linear;
      margin: 0.5em 0.25em; }
    .small-last-news .ls-2 div:hover h2 {
      color: #f4940b; }

.ls-2-1-cover {
  position: relative; }

.ls-2-2-cover {
  position: relative;
  background: url("../img/event-5.jpg");
  background-size: cover; }

.news-container {
  margin-top: 2em;
  grid-column: 6/11; }
  .news-container img {
    margin: 1em 0; }

.news-text {
  position: relative; }
  .news-text a {
    text-decoration: none;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear; }
  .news-text a:visited {
    color: #000; }
  .news-text a:hover {
    text-decoration: underline;
    color: #228; }
  .news-text h2 {
    font-weight: 100; }
  .news-text p, .news-text h2 {
    font-family: roboto; }
  .news-text p {
    line-height: 1.5em;
    letter-spacing: 0.1em; }

.news-date {
  position: absolute;
  left: -8em;
  font-weight: 500; }

.news-pagination {
  grid-column: 4/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: roboto; }
  .news-pagination div {
    background: #f6f6f6;
    padding: 0.5em 2em;
    margin: 2em 0.25em;
    border-radius: 2px; }
  .news-pagination ul {
    height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none; }
    .news-pagination ul li {
      background: #f6f6f6;
      padding: 0.5em 1em;
      margin: 2em 0.25em;
      border-radius: 2px; }
      .news-pagination ul li a {
        text-decoration: none; }

.pag-control {
  background: green; }

.current-news-text {
  grid-column: 4/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .current-news-text h1 {
    margin: 0 3.5em; }
  .current-news-text p {
    margin: 1em 2em;
    line-height: 1.5em; }

.current-news-title {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

section {
  font-family: roboto; }

.posters {
  background: #333; }

.breadcrumbs-poster {
  font-family: roboto;
  grid-column: 4/12; }
  .breadcrumbs-poster ul {
    margin: 1em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none; }
    .breadcrumbs-poster ul li {
      margin: 0 0.5em; }
      .breadcrumbs-poster ul li a {
        color: #aaa;
        font-size: 0.8em; }

.posters-wrap {
  grid-column: 2/14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.poster-container {
  width: 300px;
  height: 500px;
  border: #000 1px solid;
  border-radius: 1em;
  margin: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: border-color 0.2s linear, background 0.2s linear;
  transition: border-color 0.2s linear, background 0.2s linear;
  background: #dee; }
  .poster-container a {
    text-decoration: none; }
  .poster-container p {
    margin: 1em 0;
    color: #333; }
  .poster-container div {
    padding-top: 0.6em; }
    .poster-container div img {
      border-radius: 0.5em; }

.poster-container:hover {
  border-color: red;
  background: #fff; }

.poster-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2em 0; }
  .poster-image img {
    border-radius: 1em 0 0 1em; }

.poster-text {
  background: #fff;
  margin: 2em 0;
  border-radius: 0 1em 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25vw;
  padding: 3em 5em; }

.people {
  padding: 4vh 0;
  background: #333; }

.people-wrap {
  grid-column: 2/14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .people-wrap a {
    text-decoration: none; }

.people-container {
  width: 220px;
  height: 300px;
  border: #aaa 1px solid;
  margin: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: border-color 0.2s linear, background 0.2s linear;
  transition: border-color 0.2s linear, background 0.2s linear; }
  .people-container h2 {
    color: #0062d7;
    font-weight: 300;
    font-size: 1.1em;
    margin-top: 1em; }
  .people-container p {
    margin: 1em 1em;
    color: #333;
    line-height: 1.5em;
    font-size: 0.8em; }
  .people-container div {
    padding-top: 0.6em; }

.people-container:hover {
  border-color: red;
  background: #eff; }

.people-description {
  background: #fff;
  margin: 2em 0;
  border-radius: 0 1em 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 12vw;
  padding: 1em;
  height: calc(150px - 2em); }
  .people-description h2 {
    color: #0062d7;
    font-weight: 300;
    font-size: 1.1em; }
  .people-description p {
    margin: 1em 0;
    line-height: 1.5em;
    font-size: 0.9em; }

.people-photo {
  grid-column: 2/14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .people-photo img {
    margin: 1em 0.5em; }

.people-text {
  grid-column: 5/11; }
  .people-text h3 {
    font-weight: 500;
    line-height: 1.5em;
    font-size: 1.25em;
    margin: 1.5em 0; }
  .people-text p {
    line-height: 1.5em;
    font-size: 1.25em;
    font-weight: 400;
    color: #555;
    margin: 0.5em 0; }
    .people-text p strong {
      color: #222;
      font-weight: 500;
      line-height: 1.5em;
      margin: 1.5em 0; }

.fm {
  margin: 0; }

.image-cover {
  background: #333; }

.footer-streets {
  margin: 0; }

.streets-images {
  grid-column: 1/9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .streets-images div {
    margin: 0.5em; }

.streets-title {
  grid-column: 5/11;
  text-align: center; }
  .streets-title h2 {
    font-family: roboto;
    font-weight: 100;
    font-size: 3em;
    color: #fff;
    margin: 1em 0; }

.street-text {
  grid-column: 9/14; }
  .street-text p {
    font-family: roboto;
    font-weight: 100;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #fff;
    margin: 1em 0; }

@media screen and (max-width: 992px) {
  .nav {
    display: none; }
  .burg-menu {
    display: block; } }

.help-children {
  grid-column: 2/6; }

.help-east {
  grid-column: 6/10;
  border-right: 1px #ddd solid;
  border-left: 1px #ddd solid; }

.help-trabl {
  grid-column: 10/14; }

.help-title {
  text-align: center; }
  .help-title h2 {
    font-family: roboto;
    font-weight: 400;
    font-size: 1.25em;
    margin: 1em; }

.help-child {
  font-family: roboto;
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .help-child table {
    width: 90%; }
    .help-child table td {
      padding: 0.5em 0; }

* {
  margin: 0;
  padding: 0; }

.hide {
  display: none; }

header {
  background: url("../img/back-header.jpg");
  background-size: 100% 100%; }

.emblem-khust {
  grid-column: 1/3;
  grid-row: 1/2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 1em 0; }
  .emblem-khust p {
    margin: 0.2em 0;
    text-align: center;
    font-family: roboto;
    color: white; }

.header-right {
  grid-column: 10/15;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.weather-informer {
  margin: 1em 0.5em; }

.wi-inner {
  padding: 0.75em 2.5em;
  background: rgba(20, 20, 30, 0.2); }

.radio {
  margin: 1em 1em 0 0.5em;
  background: url("../img/radio.jpg"); }

.play-stop-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 72px;
  height: 64px;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear; }

.play-stop-cover:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7); }

#play-stop:hover {
  cursor: pointer; }

nav {
  grid-column: 2/14;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  nav ul li {
    display: inline-block;
    border-left: #555 1px solid;
    padding: 0.75em 0;
    -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear; }
    nav ul li a {
      padding: 0.25em 1em;
      color: white;
      font-size: 1.2em;
      -webkit-transition: color 0.3s linear;
      transition: color 0.3s linear; }
  nav ul li:nth-child(1) {
    border-left: none; }
  nav ul li:hover {
    background: rgba(20, 20, 30, 0.8); }
    nav ul li:hover a {
      color: #f4940b; }
  nav a {
    font-family: roboto; }

.header-help {
  grid-column: 13/14;
  grid-row: 2/3;
  position: relative; }

.header-fb {
  grid-column: 14/15;
  grid-row: 2/3;
  position: relative; }
  .header-fb div {
    width: 58px;
    height: 58px;
    background: url("../img/fb.png");
    position: absolute;
    top: 1.75em;
    right: 1.4em;
    opacity: 0.3;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear; }
  .header-fb div:hover {
    opacity: 0.9; }

.breadcrumbs {
  font-family: roboto;
  grid-column: 4/12; }
  .breadcrumbs ul {
    margin: 1em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none; }
    .breadcrumbs ul li {
      margin: 0 0.5em; }
      .breadcrumbs ul li a {
        color: #333;
        font-size: 0.8em; }

.burg-menu {
  grid-column: 11/12;
  grid-rows: 1/2;
  display: none; }
  .burg-menu img {
    margin-top: 4em; }

.burg-wrap-start {
  position: absolute;
  width: 0;
  background: rgba(50, 50, 50, 0.8);
  top: 0;
  -webkit-transition: width 0.25s linear;
  transition: width 0.25s linear; }
  .burg-wrap-start li {
    font-size: 4em;
    font-family: roboto;
    color: #555;
    padding: 1em 3em;
    border-bottom: 1px solid #bbb; }
    .burg-wrap-start li a {
      color: #444;
      -webkit-transition: color 0.5s linear;
      transition: color 0.5s linear; }

.burger-wrap {
  position: absolute;
  width: 100vmin;
  background: rgba(50, 50, 50, 0.8);
  top: 0; }
  .burger-wrap ul {
    list-style-type: none; }
    .burger-wrap ul li {
      font-size: 4em;
      font-family: roboto;
      padding: 1em 3em;
      border-bottom: 1px solid #bbb; }
      .burger-wrap ul li a {
        color: #fff;
        text-decoration: none; }
    .burger-wrap ul #burger-back {
      color: #ddd;
      text-align: center;
      padding: 1em 0; }

.button-help {
  position: absolute;
  top: 1.2em;
  right: 1.75em;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(220, 0, 0, 0.5);
  -webkit-transition: background 0.25s linear;
  transition: background 0.25s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .button-help p {
    font-family: roboto;
    color: #fff;
    letter-spacing: 0.025em;
    font-weight: 100;
    font-size: 1.2em;
    font-weight: 900; }

.button-help:hover {
  background: rgba(10, 120, 80, 0.9); }

.index-title {
  grid-column: 1/15;
  height: 6em;
  text-align: center; }
  .index-title h1 {
    margin-top: 0.5em;
    font-weight: 100;
    font-size: 2.5em;
    color: #000; }

.event-container {
  grid-column: 2/14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  font-family: roboto; }

.event {
  width: 500px;
  margin: 4vh 0.75vw;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
  .event .date {
    margin: 0 0 0.75em 0; }
  .event h3 {
    margin: 0 0 0.75em 0; }

.event:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
  transform: scale(1.01); }

.event-title {
  height: 4em; }

.event-image-wrap {
  width: 500px;
  height: 280px;
  position: relative; }

.event-image, .event-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }

.event-shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(20, 20, 30, 0.7); }
  .event-shadow h3 {
    color: #fff;
    font-weight: 100;
    font-size: 2em;
    margin: 0 1em;
    text-align: center;
    -webkit-transition: color 0.3s linear, background 0.3s linear;
    transition: color 0.3s linear, background 0.3s linear; }

.event-shadow:hover {
  background: rgba(20, 20, 30, 0.8); }
  .event-shadow:hover h3 {
    color: #f4940b; }

.left-container {
  margin-top: 10vh;
  grid-column: 1/4;
  padding-left: 0.5em; }
  .left-container .left {
    margin: 0  0 0 1em; }
    .left-container .left p {
      font-size: 0.6	em;
      line-height: 1.5em;
      letter-spacing: 0.075em; }

.left-news-container {
  margin: 0 0 1em 0; }
  .left-news-container .news-data {
    margin: 0.5em 0; }
    .left-news-container .news-data p {
      font-size: 0.8em; }

.left-news-text p {
  font-size: 0.8em; }

.news-image {
  grid-column: 2/5;
  margin: 5vh 0 0 0;
  overflow: hidden;
  height: 200px; }

.news-pre-text-container {
  grid-column: 5/11;
  margin: 5vh 0 0 0; }

.news-pre-text {
  overflow: hidden;
  height: 170px; }
  .news-pre-text p, .news-pre-text h2 {
    font-family: roboto; }
  .news-pre-text p {
    margin-top: 1em;
    line-height: 1.5em;
    letter-spacing: 0.1em; }

.news-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px; }
  .news-next a {
    text-decoration: none;
    font-size: 2em;
    color: #bbb;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear; }
  .news-next a:visited {
    color: #aaa; }
  .news-next a:hover {
    color: #599e5e; }

.right {
  grid-column: 11/14;
  grid-row: 1/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .right div {
    margin-top: 5vh; }
    .right div input {
      border: none;
      border-bottom: #555 1px solid;
      padding: 0.2em;
      font-family: roboto; }

.pagination {
  grid-column: 4/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: roboto; }
  .pagination div {
    background: #f6f6f6;
    padding: 0.5em 2em;
    margin: 2em 0.25em;
    border-radius: 2px; }
  .pagination ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none; }
    .pagination ul li {
      background: #f6f6f6;
      padding: 0.5em 1em;
      margin: 2em 0.25em;
      border-radius: 2px; }

footer {
  font-family: roboto;
  background: #333;
  padding: 2em 0; }

.emblem-hust {
  grid-column: 2/3; }

.emblem-oblrada {
  grid-column: 4/5; }

.emblem-hust, .emblem-oblrada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .emblem-hust img, .emblem-oblrada img {
    margin: 0 1em; }
  .emblem-hust p, .emblem-oblrada p {
    color: #aaa;
    font-family: roboto;
    font-size: 0.8em;
    line-height: 1.25em;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear; }
  .emblem-hust a, .emblem-oblrada a {
    text-decoration: none; }
  .emblem-hust div:hover p, .emblem-oblrada div:hover p {
    color: #f4940b; }

.contacts {
  grid-column: 11/14; }
  .contacts div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1em 0; }
    .contacts div span {
      margin: 0 1em;
      font-size: 0.8em;
      color: #aaa; }
