@import url(../img/fonts/roboto/roboto.css);
.grid-col-10-12 {
  display: grid;
  grid-template-columns: 5% repeat(12, 1fr) 5%;
  grid-gap: 25px; }

.grid-col-16 {
  display: grid;
  grid-template-columns: repeat(16, 1fr); }

.grid-rows-2 {
  display: grid;
  grid-template-rows: 1fr 10vh;
  grid-row-gap: 0; }

.grid-rows-5 {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 0; }

.last-news {
  margin: 2vh 0 1vh 0; }

.ls1-cover {
  background: url("../img/news-remont.jpg"); }

.big-last-news {
  grid-column: 4/8; }
  .big-last-news a {
    text-decoration: none; }
  .big-last-news .ls-1 {
    background: rgba(10, 20, 50, 0.6);
    height: calc(36vh + 0.5em);
    margin: 0.5em 0;
    text-align: center; }
    .big-last-news .ls-1 div {
      padding-top: 3em; }
      .big-last-news .ls-1 div h1 {
        color: #fff;
        font-family: roboto;
        font-weight: 100;
        font-size: 2em; }

.small-last-news {
  grid-column: 8/12; }
  .small-last-news .ls-2 {
    margin: 0.5em 0;
    height: 18vh;
    background: rgba(10, 20, 90, 0.8);
    color: #fff;
    text-align: center; }
    .small-last-news .ls-2 div {
      padding-top: 2em; }
      .small-last-news .ls-2 div h2 {
        color: #fff;
        font-family: roboto;
        font-weight: 100; }

.news-container {
  grid-column: 4/12; }
  .news-container img {
    margin: 1em 0; }

.news-text p, .news-text h2 {
  font-family: roboto; }

.news-text p {
  margin-top: 1em;
  line-height: 1.5em;
  letter-spacing: 0.1em; }

.news-pagination {
  grid-column: 4/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: roboto; }
  .news-pagination div {
    background: #f6f6f6;
    padding: 0.5em 2em;
    margin: 2em 0.25em;
    border-radius: 2px; }
  .news-pagination ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none; }
    .news-pagination ul li {
      background: #f6f6f6;
      padding: 0.5em 1em;
      margin: 2em 0.25em;
      border-radius: 2px; }

.current-news-title {
  grid-column: 4/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.current-news-text {
  grid-column: 4/12; }
  .current-news-text p {
    margin: 1em; }

.current-news-title {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

section {
  font-family: roboto; }

.poster-title {
  grid-column: 4/12;
  margin-top: 2em; }

.poster-image {
  grid-column: 4/6; }

.poster-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column: 6/12; }
  .poster-date table td {
    padding: 0 2em 0.25em 0;
    font-size: 0.9em; }

.poster-text {
  grid-column: 4/12; }
  .poster-text p {
    line-height: 1.5em;
    letter-spacing: 0.1em; }

.people-image, .people-title {
  grid-column: 4/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.people-title {
  margin-top: 3em; }

.miskrada {
  background: url("../img/main.jpg");
  background-size: cover;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .miskrada div a {
    font-family: roboto;
    font-weight: 100;
    font-size: 5vh;
    color: #fff;
    margin: 1vh; }

.fm {
  margin: 0; }

.street-working {
  background: url("../img/main.jpg");
  background-size: cover;
  height: 85vh; }

.message {
  grid-column: 1/15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.5em; }
  .message h1 {
    font-family: roboto;
    font-weight: 100;
    color: #fff; }

@media screen and (max-width: 992px) {
  .nav {
    display: none; }
  .burg-menu {
    display: block; } }

* {
  margin: 0;
  padding: 0; }

.hide {
  display: none; }

header {
  background: url("../img/back-header.jpg");
  background-size: 100% 100%; }

.weather-informer {
  grid-column: 9/13;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.wi-inner {
  border: #fc8302 1px dashed;
  padding: 0.5em 1.5em; }

.emblem-khust {
  grid-column: 2/3;
  grid-row: 1/2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0.5em 0; }
  .emblem-khust p {
    margin: 0.2em 0;
    text-align: center;
    font-family: roboto;
    color: white; }

.radio {
  grid-column: 13/14;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0.5em 0; }

#play-stop {
  margin: 0.4em 0; }

#play-stop:hover {
  cursor: pointer; }

nav {
  grid-column: 1/15;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  nav ul li {
    display: inline-block;
    border-left: #555 1px solid;
    padding: 0.75em 0;
    margin: 0 -2px;
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear; }
    nav ul li a {
      padding: 0.25em 1em;
      color: white;
      font-size: 1.2em; }
  nav ul li:nth-child(1) {
    border-left: none; }
  nav ul li:hover {
    background: #999; }
    nav ul li:hover a {
      color: #ddf; }
  nav a {
    font-family: roboto; }

.breadcrumbs {
  font-family: roboto;
  grid-column: 4/12; }
  .breadcrumbs ul {
    margin: 1em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none; }
    .breadcrumbs ul li {
      margin: 0 0.5em; }
      .breadcrumbs ul li a {
        color: #333;
        font-size: 0.8em; }

.burg-menu {
  grid-column: 11/12;
  grid-rows: 1/2;
  display: none; }
  .burg-menu img {
    margin-top: 4em; }

.burg-wrap-start {
  position: absolute;
  width: 0;
  background: rgba(50, 50, 50, 0.8);
  top: 0;
  -webkit-transition: width 0.25s linear;
  transition: width 0.25s linear; }
  .burg-wrap-start li {
    font-size: 4em;
    font-family: roboto;
    color: #555;
    padding: 1em 3em;
    border-bottom: 1px solid #bbb; }
    .burg-wrap-start li a {
      color: #444;
      -webkit-transition: color 0.5s linear;
      transition: color 0.5s linear; }

.burger-wrap {
  position: absolute;
  width: 100vmin;
  background: rgba(50, 50, 50, 0.8);
  top: 0; }
  .burger-wrap ul {
    list-style-type: none; }
    .burger-wrap ul li {
      font-size: 4em;
      font-family: roboto;
      padding: 1em 3em;
      border-bottom: 1px solid #bbb; }
      .burger-wrap ul li a {
        color: #fff;
        text-decoration: none; }
    .burger-wrap ul #burger-back {
      color: #ddd;
      text-align: center;
      padding: 1em 0; }

.news-image {
  grid-column: 2/5;
  margin: 5vh 0 0 0;
  overflow: hidden;
  height: 200px; }

.news-pre-text-container {
  grid-column: 5/11;
  margin: 5vh 0 0 0; }

.news-pre-text {
  overflow: hidden;
  height: 170px; }
  .news-pre-text p, .news-pre-text h2 {
    font-family: roboto; }
  .news-pre-text p {
    margin-top: 1em;
    line-height: 1.5em;
    letter-spacing: 0.1em; }

.news-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px; }
  .news-next a {
    text-decoration: none;
    font-size: 2em;
    color: #bbb;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear; }
  .news-next a:visited {
    color: #aaa; }
  .news-next a:hover {
    color: #599e5e; }

.right {
  grid-column: 11/14;
  grid-row: 1/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .right div {
    margin-top: 5vh; }
    .right div input {
      border: none;
      border-bottom: #555 1px solid;
      padding: 0.2em;
      font-family: roboto; }

.pagination {
  grid-column: 4/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: roboto; }
  .pagination div {
    background: #f6f6f6;
    padding: 0.5em 2em;
    margin: 2em 0.25em;
    border-radius: 2px; }
  .pagination ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none; }
    .pagination ul li {
      background: #f6f6f6;
      padding: 0.5em 1em;
      margin: 2em 0.25em;
      border-radius: 2px; }

footer {
  font-family: roboto;
  background: #f6f6f6;
  padding: 2em 0;
  margin-top: 6vh; }

.emblem-hust, .emblem-oblrada {
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .emblem-hust img, .emblem-oblrada img {
    margin: 0 1em; }
  .emblem-hust p, .emblem-oblrada p {
    color: #000;
    font-family: roboto; }

.nav-footer-1 ul, .nav-footer-2 ul {
  margin-left: 2em;
  list-style-type: none; }
  .nav-footer-1 ul li, .nav-footer-2 ul li {
    margin-bottom: 0.5em; }
    .nav-footer-1 ul li a, .nav-footer-2 ul li a {
      color: #000;
      text-decoration: none;
      font-size: 0.8em; }

.nav-footer-2 ul {
  margin-left: 0; }

.contacts {
  grid-column: 11/14; }
  .contacts div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1em 0; }
    .contacts div span {
      margin: 0 1em;
      font-size: 1.25em; }
